@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* Leaflet map styles */
.leaflet-container {
  height: 100%;
  background: #e5e3df;
  outline: 0;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-shadow,
.leaflet-shadow-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  user-drag: none;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

.leaflet-popup {
  @apply rounded-lg shadow-lg;
}

.leaflet-popup-content-wrapper {
  @apply bg-white rounded;
}
